.book {
  display: flex;
  padding: 1rem 0;
}

.book-link {
  flex-direction: column;
  color: black;
  border: solid black 1px;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  min-width: 250px;
}

.book-row {
  margin: 0 1rem !important;
  flex-wrap: wrap;
}

.book-image {
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .check-group {
    display: flex;
  }
}
