@media screen and (max-width: 900px) {
  .book {
    width: 33% !important;
  }
}

.book {
  display: flex;
  padding: 1rem 0;
}

.book-link {
  flex-direction: column;
  color: black;
  border: solid var(--accent) 1px;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  min-width: 180px;
}

.book-row {
  margin: 0 1rem !important;
  box-sizing: inherit;
}

.book-image {
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .check-group {
    display: flex;
  }

  .button-container {
    margin: 0 !important;
    justify-content: flex-end;
  }

  .button {
    margin: 0 1rem;
  }
}
