.header {
  justify-content: space-between;
  display: flex;
  padding: 1rem 0;
}

.home {
  justify-content: center;
  width: 100%;
}

.search {
  width: 100%;
  justify-content: flex-end;
}

.nav-links {
  justify-content: flex-end;
}
