.search {
  width: 100%;
  justify-content: flex-end;
}
.link-hidden {
  display: none !important;
}

.link-show {
  display: block;
}

@media screen and (max-width: 768px) {
  .ui.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
  }

  .ui.nav-bar .links {
    width: 100%;
    justify-content: right;
  }

  .nav-button {
    position: fixed;
    right: 1rem;
    top: 1rem;
    border-radius: 0.25rem;
    padding: 0.75rem;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .header-container {
    position: fixed;
    display: flex;
    height: fit-content;
    width: calc(90% - 65px);
    z-index: 10;
  }

  .hidden {
    position: fixed !important;
    min-width: 90vw !important;
    right: -100vw;
    top: 4rem;
    transition-duration: 1s;
    background-color: var(--light) !important;
  }

  .show {
    position: fixed !important;
    min-width: 90vw !important;
    right: 0;
    top: 4rem;
    transition-duration: 1s;
    z-index: 2;
    background-color: var(--light) !important;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: space-between;
    display: flex;
    padding: 1rem 0;
    width: 100%;
  }

  .home {
    justify-content: flex-start !important;
  }

  .home a {
    justify-content: flex-start !important;
    width: 100%;
  }

  .ui.nav-bar {
    width: max-content !important;
    padding-left: 1rem !important;
  }
  .nav-links {
    justify-content: flex-end;
  }

  .nav-button {
    display: none;
  }
}
