.book-cover {
  height: 400px;
  width: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(148, 148, 148, 0.5);
  z-index: 11;
}

.modal-box {
  width: 80%;
  max-width: 600px;
  height: 40%;
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  padding: 3rem;
  border-radius: 12px;
  animation: modal 0.2s linear;
}

@keyframes modal {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

.modal-button {
  margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.short {
  width: 50px;
  margin: 0.5rem;
}

.card-input {
  margin: 0.5rem;
  width: 200px;
}

.cod-input {
  margin: 0.25rem 0;
  text-indent: 1rem;
}
