.action-container h1 {
  margin: 1rem !important;
  text-align: center;
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .hero-img {
    width: 100%;
  }

  .action-container {
    margin: auto;
    width: 90% !important;
    padding: 1rem !important;
  }

  .action-container a {
    margin: 1rem !important;
  }
}

@media screen and (min-width: 768px) {
  .hero-img {
    width: 50%;
    padding: 4rem 0;
  }
}

.hero-button {
  background-color: var(--accent);
  padding: 1rem;
  border-radius: 0.5rem;
}

.overflow-x-auto {
  overflow-x: auto;
}
