.footer > .container {
  width: 100%;
  background-color: var(--light) !important;
}

.newsletter {
  max-width: 200px !important;
  display: flex;
  align-items: flex-end;
}

.newsletter p {
  width: 200px;
}

.newsletter input {
  max-width: 200px;
}
.newsletter button {
  max-width: 100px;
  background: none;
  color: var(--primary);
}
