:root {
  --primary: teal;
  --secondary: steelblue;
  --accent: lightgrey;
  --light: rgba(255, 250, 240, 0.5);
  --dark: darkslategrey;
}

#root {
  width: 80vw;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

a {
  display: flex;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.ui.button {
  margin: 0;
}
.ui.segment {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .ui.menu {
    margin: 1rem 0 1rem 0;
    width: 100%;
    background: none;
  }
}
@media screen and (min-width: 768px) {
  .ui.menu {
    margin: 0;
    width: 100%;
    background: none;
  }
}
